allow system_app oem_data_file:dir create_dir_perms;
allow system_app oem_data_file:file create_file_perms;
allow system_app oem_data_file:lnk_file read;
